<div class="event">
  <div class="content">
    <div class="summary">
      <em><%= message.user.username %></em>: <%= message.body %>
    </div>
  </div>
</div>

<%# Use this form partial with rendering in index, can replace the iterator: <% @messages.each do |message| %>
              <%# <% end %>
