<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <%# -- Header -- %>
  <h3 class="ui center aligned icon header">
    <i class="circular teal users icon"></i>
    Messenger
  </h3>
  <%# -- Messages Feed -- %>
  <div class="ui two column grid">
    <div class="twelve wide column">
      <div class="ui fluid raised card chatbox">
        <div class="content">
          <div class="ui feed">
            <h4 class="ui header">Chat Room</h4>
            <%= render @messages %>
          </div>
        </div>
        <div class="extra content">
          <form class="ui reply form">
            <div class="field">
              <div class="ui fluid icon input">
                <input type="text" placeholder="Send Message...">
                <i class="bordered teal edit icon"></i>
              </div>
            </div>     
          </form>
        </div>
      </div>
    </div>
  <%# -- Friends Online -- %>
    <div class="four wide column">
      <div class="ui fluid raised card chatbox">
        <div class="content">
          <h4 class="ui center aligned header">Friends Online</h4>
          <div class="ui vertical menu">
            <a class="active item">Home</a>
            <a class="item">Messages</a>
            <a class="item">Friends</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</body>
</html>
