<%# -- NavBar -- %>
<%= link_to "Chatroom", root_path, class: "item" %>
<%# <a class="item">Messages</a> %>
<div class="right menu">
  <div class="item">
    <% if logged_in? %>
      <%= button_to "Logout", logout_path, method: :delete, class: "ui teal button" %>
    <% else %>
      <%= button_to "Login", "/login", class: "ui teal button" %>
    <% end %>
  </div>
</div>